@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Shantell+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* header and logo */
  header {
    background-color: #2c2e19;
    font-weight: 400;
    color: #fff;
    padding: 30px;
  }
  
  #logo h1 {
    font-family: shantell sans, sans-serif;
    font-size: 400%;
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
  }
  
/* menu navigation links */
  #menu {
    list-style: none;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  
  #menu li {
    font-family: shantell sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto 30px;
  }
  
  #menu a {
    color: #fff;
    text-decoration: none;
  }

  .active {
    font-size: 150%;
    font-style: italic;
  }

  #menu a:hover {
    color: #c6d14c;
  }

/* logo image */
  header img {
    background: no-repeat center center;
    height: auto;
    width: 100%;
  }

/* about-us section */
  #about-us {
    background-color: #2c2e19;
    color: #fff;
    padding-bottom: 20px;
  }

  #about-us h2 {
    font-family: shantell sans, sans-serif;
    font-size: 250%;
    text-align: center;
    margin: auto 30px;
  }

  #about-us p {
    font-family: montserrat, sans-serif;
    font-size: 130%;
    text-align: center;
    margin: 30px 150px;
  }

  .dtc-style {
    font-weight: bold;
    font-style: italic;
    font-size: 120%;
  }

/* footer */

  footer {
    height: 110px;
    background-color: #2c2e19;
    margin: 0;
    padding: 40px;
  }

  #f_middle {
    font-family: shantell sans, sans-serif;
    color: #c6d14c;
    font-size: 170%;
    text-align: center;
  }

  .contact {
    font-family: montserrat, sans-serif;
    font-size: 80%;
    color: #fff;
    float: left;
    width: 33%;
  }

  .footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
  }

  .footer_links > li {
    display: inline;
    margin: 40px auto;
  }

  .footer_links i {
    font-size: 170%;
    color: #fff;
  }

  .footer_links :hover {
  color: #c6d14c;
  }

  .partners {
    font-family: montserrat, sans-serif;
    font-size: 80%;
    color: #fff;
    float: right;
  
  }

  .partners_links {
    float: right;
  }

  .partners_links > li {
    display: inline;
  }

  .partners_links i {
    font-size: 150%;
    color: #fff;
    float: right;
    margin: auto 10px;
  }

  .partners_links :hover {
    color: #c6d14c;
    }

/* audio */
  #relax {
    background-color: #20271a;
    text-align: center;
    padding: 20px;
  }

  #relax h2 {
    color: #fff;
    font-family: shantell sans, sans-serif;
  }

  audio::-webkit-media-controls-panel {
    background-color: #c6d14c;
  }
 
/* training tips */

  #training-tips {
    background-color: #20271a;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #training-tips h2 {
    font-family: shantell sans, sans-serif;
    font-size: 220%;
    text-align: center;
    margin: auto 30px;
  }

  #training-tips p {
    font-family: montserrat, sans-serif;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
    margin: 30px 250px;
  }

  #training-tips p i {
    color: #c6d14c;
    font-size: 200%;
  }

/* training tips img */
#training-tips-image-container {
  text-align: center;
  background-color: #20271a;
}

#training-tips-image-container img {
  height: 550px;
  max-width: 100%;
}

/* members galley */
.members-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #20271a;
}

.gallery-item {
  margin: 20px;
  border: 1px solid #2c2e19;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.gallery-item:hover {
  transform: scale(1.2);
}

.gallery-item img {
  display: block;
  width: auto;
  max-height: 600px;
}

/* sign up form */

.sign-up-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #20271a;
  padding: 20px;
}

.sign-up-section img {
  max-width: 50%;
  float: left;
  margin-right: 20px;
}

form {
  background-color: #20271a;
  border: 1px solid #c6d14c;
  border-radius: 5px;
  padding: 20px;
}

fieldset {
  margin-bottom: 20px;
  border: none;
}

legend {
  font-family: shantell sans, sans-serif;
  font-size: 120%;
  font-weight: bold;
  color: #c6d14c;
  margin-bottom: 10px;
}

label {
  font-family: montserrat, sans-serif;
  font-size: 100%;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
  width: 40%;  
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background-color: #2c2e19;
  width: 100%;
}

input[type="radio"] {
  margin: 10px;
}

input[type="submit"] {
  padding: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background-color: #c6d14c;
  font-family: shantell sans, sans-serif;
  font-size: 120%;
  color: #20271a;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}





