@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Shantell+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* header and logo */
header {
    background-color: #2c2e19;
    font-weight: 400;
    color: #fff;
    padding: 30px;
  }
  
  #logo h1 {
    font-family: shantell sans, sans-serif;
    font-size: 400%;
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
  }
  
  /* menu navigation links */
  #menu {
    list-style: none;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  
  #menu li {
    font-family: shantell sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto 30px;
  }
  
  #menu a {
    color: #fff;
    text-decoration: none;
  }

  .active {
    font-size: 150%;
    font-style: italic;
  }

  #menu a:hover {
    color: #c6d14c;
  }

  /* logo image */
  header img {
    background: no-repeat center center;
    height: auto;
    width: 100%;
  }

  /* about-us section */
  #about-us {
    background-color: #2c2e19;
    color: #fff;
  }

  #about-us h2 {
    font-family: shantell sans, sans-serif;
    font-size: 250%;
    text-align: center;
    margin: auto 30px;
  }

  #about-us p {
    font-family: montserrat, sans-serif;
    font-size: 130%;
    text-align: center;
    margin: 30px 150px;
  }

  p b {
    font-style: italic;
    font-size: 120%;
  }
